body {
    font-family: 'Poppins', sans-serif;
    margin: 0PX;
}

.first-flex {
    display: flex;
    margin: 50px;
}

.helf-width {
    width: 50%;
}

.helf-width img {
    width: 80%;
    margin-left: 100px;
}

.position {
    margin-top: 60px;
    margin-left: 30px;
}

h1 {
    font-size: 40px;
    padding-left: 15px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

.border-color {
    border-left: 5px solid;
    border-image: linear-gradient(rgb(248, 204, 5), rgb(189, 20, 20));
    border-image-slice: 1;
}

.first-button {
    padding: 15px 50px 15px 50px;
    font-size: large;
    background-color: rgb(231, 102, 27);
    color: white;
    border-radius: 10px;
}

.mission-color {
    color: rgb(231, 102, 27);
}

.second-section {
    display: flex;
    margin: 10px 100px 10px 100px;

}

.second-section div {
    margin-left: 20px;
    border-radius: 50px;
}

.widh-set {
    width: 50%;
    padding: 20px;

}

.widh-set img {
    width: 50%;
}

.div-back-color-one {
    background-color: rgb(176, 253, 253);
}

.div-back-color-two {
    background-color: rgb(147, 247, 160);
}

.div-back-color-three {
    background-color: rgb(225, 245, 151);
}

.flex-third {
    display: flex;
    margin-top: 150px;
}

.helf-width-two {
    width: 50%;
    padding-bottom: px;
}

.helf-width-two img {
    width: 70%;
    margin-left: 116px;
}

.left-margin {
    margin-right: 100px;
}

/* #one {
    background-image: url(images/illustrators/dream-bg.png);
    background-repeat: no-repeat;
} */

.right-margin {
    margin-left: 100px;
}

#two {
    width: 50%;
    margin-right: 116px;
}

/* #three {
    background-image: url(/images/illustrators/exp-bg.png);
    background-repeat: no-repeat;

} */

.mr-top {
    margin-top: 120px;
}

.width-mines img {
    width: 410px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
}

.center {
    text-align: center;
}